# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.log

# --------------------
# Virtual Environments
# --------------------
venv/
venv_unified/

#secrets
.env

# Outputs
Test_codes/output*.txt

# Notebooks
*.ipynb

venv_paddleocr
# --------------------
# Data / Output (DO NOT PUSH)
# --------------------
data/
output/
logs/
temp/
cache/
results/
data2/
zoho_downloads/
generated_letters/
dist/
build/
# --------------------
# Documents
# --------------------
*.pdf
*.xlsx
*.csv
*.txt

# --------------------
# OS / IDE
# --------------------
.DS_Store
.vscode/
.idea/

